{% extends 'chat/form_base.html' %}
{% load static %}

{% block title %}Password resetting{% endblock title %}

{% block content %}

<div class="wrap-login100">
    <div class="login100-pic js-tilt" data-tilt>
        <img src="{% static 'chat/forms/images/img-01.png' %}" alt="IMG">
    </div>
    <form class="login100-form validate-form" method="post">
        {% csrf_token %}
        <span class="login100-form-title">
            Enter your email<br>
            to reset password
        </span>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" name="email" placeholder="Email" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Send an email
            </button>
        </div>
    </form>
</div>

{% endblock content %}